link( rel='stylesheet' href='/tailwindcss/tailwind.css')
div(class='flex h-screen w-full')
    div(class='m-auto')
        form(action='/login' method='post')
            div(class='rounded-xl p-4 border border-black space-y-6 bg-white text-black')
                if error
                    div(class='full py-2 bg-red-400 rounded-xl text-center')
                        samp(class='text-white') #{error}
                div(class='space-y-2')
                    div(class='text-2xl font-bold flex flex-row space-x-1 items-center ')
                        a(class='bg-black text-white border border-black hover:bg-white hover:text-black rounded-xl p-1' href='/')
                            svg(xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z')
                        div(class='uppercase') Bienvenue
                    div(class='font-small') Nouveau utilisateur? <a class='text-blue-600 hover:text-blue-400 transition duration-200' href='/register'>Créer un compte</a>
                div(class='flex flex-col space-y-2')
                    div(class='flex flex-col text-black')
                        div
                            label(for='IdEmail')
                                samp(class='block') Email
                                input(class='block py-1 px-2 rounded-xl border border-black w-80 outline-none' type='email' name='email' id='IdEmail' placeholder='Email')

                    div(class='flex flex-col text-black')
                        div
                            label(for='IdPassword')
                                samp(class='block') Mot de passe
                                input(class='block py-1 px-2 rounded-xl border border-black w-80 outline-none' type='password' name='password' id='IdPassword' placeholder='Password')
                            samp(class='text-red-600')
                    input(class='p-2 rounded-xl transition duration-200 border border-black bg-black hover:bg-white text-white hover:text-black' type='submit' value='Se connecter' id='IdLogin')
                