link( rel='stylesheet' href='/tailwindcss/tailwind.css')
section(class='flex h-screen w-full')
    div(class='m-auto')
        form(action='/register' method='post')
            div(class='p-4 border border-black rounded-xl space-y-6 bg-white text-black')
                if error
                    div(class='full py-2 bg-red-400 rounded-xl text-center')
                        samp(class='text-white') #{error}
                div(class='space-y-2')
                    div(class='text-2xl font-bold flex flex-row space-x-1 items-center')
                        a(class='border border-black text-black hover:text-white hover:bg-black rounded-xl p-1' href='/')
                            svg(xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z')
                        div(class='uppercase') Create an account
                    div(class='font-small') Already have an account? <a class='text-blue-600 hover:text-blue-400 transition duration-200' href='/login'>Log In.</a>
                div(class='flex flex-col space-y-2')
                    div(class='flex flex-row space-x-2')
                        div(class='flex flex-col')
                            div
                                label(for='IdFirstName')
                                    samp(class='block') First name
                                    input(class='block py-1 px-2 rounded-xl border border-black outline-none' type='text' name='firstname' id='IdFirstName' placeholder='First name')
                        div(class='flex flex-col ')
                            div
                                label(for='IdLastName')
                                    samp(class='block') Last name
                                    input(class='block py-1 px-2 rounded-xl border border-black outline-none' type='text' name='lastname' id='IdLastName' placeholder='Last name')
                    div(class='flex flex-col ')
                        div
                            label(for='IdNumber')
                                samp(class='block') Number
                                input(class='block py-1 px-2 rounded-xl border border-black w-full outline-none' type='tel' name='number' id='IdNumber' placeholder='0650000000')
                    div(class='flex flex-col ')
                        div
                            label(for='IdEmail')
                                samp(class='block') Email
                                input(class='block py-1 px-2 rounded-xl border border-black w-full outline-none' type='email' name='email' id='IdEmail' placeholder='Email')
                    div(class='flex flex-col ')
                        div
                            label(for='IdPassword')
                                samp(class='block') Password
                                input(class='block py-1 px-2 rounded-xl border border-black w-full outline-none' type='password' name='password' id='IdPassword' placeholder='Password')
                    input(class='p-2 rounded-xl transition border border-black duration-200 bg-black hover:bg-white text-white hover:text-black' type='submit' value='Create Account' id='IdLogin')